<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ca.mahram.demo.butterknife">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:theme="@style/AppTheme">

        <activity android:name=".IndexActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.BindingActivity"
                  android:parentActivityName=".IndexActivity"
                  android:label="@string/activity_injection">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IndexActivity"/>
        </activity>

        <activity android:name=".activity.FragmentBindingActivity"
                  android:parentActivityName=".IndexActivity"
                  android:label="@string/fragment_injection">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IndexActivity"/>
        </activity>

        <activity android:name=".activity.ViewListBindingActivity"
                  android:parentActivityName=".IndexActivity"
                  android:label="@string/fragment_injection">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IndexActivity"/>
        </activity>
    </application>

</manifest>
